.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #7a50eb;
  transform-origin: bottom;
}
.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #7a50eb;
  transform-origin: top;
}

.project-description{
  position: absolute; 
  left:0; 
  right:0; 
  bottom:0; 
  top: 0px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 50px;
}
.button{
  padding: 5px;
  font-weight: bold;
  background-color: #7a50eb;
  color: white;
}